h1, h2, h3, h4, h5, h6 {
    font-family: "ubuntu";
    color: #1C3245;

}

h1:first-letter {
    color: #FF7E00;
}

body {
	background-color:rgba(113, 228, 229, 0.4);
}

p {
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
}


.imgpre img {
	width: 100%;
}

.page-header {
	text-align: center;
}

.container h1{
	border-radius: 5px;
	padding-bottom: 5px;

	margin: auto;
}

.caption h3 {
	text-align: center;
}

.caption {
	background-color:#E7E7E7;
}

.thumbnail {
	border: 1px solid #FF7E00;
}

.thumbnail.infostag{
	
	width: 900px;
	height: 250px;
}

.rom {
	width: 100%;
}

.navbtn .btnnav {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-color: #FF7E00;

}

.thumbnail .progbox {
	height: 407px;
}

.label{
	 display:block;
	 max-width: auto;
	 margin-bottom: 5px;
	 font-weight: bold;    
}

#champs{
    text-align:right;
}

form#myform label {
    display:inline-block;
    width:100px;
}

form#myform input {
    display:inline-block;
} 

.navbar-brand {
    height: 57px;
    padding-top: 3px;
    padding-bottom: 0px;
}

.navbar{
	box-shadow: 2px 2px 2px #E7E7E7;
}

.infostag .staginfo {
	height: 400px;
}

.infostag .staginfo1 {
	height: 308px;
}

.table-div {
	display: table;
	height: 200px;
}

.cell {
	display: table-cell;
	vertical-align: middle;
}
