sh1, h2, h3, h4, h5, h6 {
    font-family: "ubuntu";
    color: #1C3245;

}

h1:first-letter {
    color: #FF7E00;
}

body {
	background: linear-gradient(to bottom, white,#70DFC4);
}

p {
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
}

.imgpre img {
	width: 100%;
	padding-top: 50px;
}

.page-header {
	text-align: center;
}

.container h1{
	border-radius: 5px;
	padding-bottom: 5px;
	width: 100%;
	margin: auto;
}

.caption h3 {
	text-align: center;
}

.im
{width: 300px;
height:200px;
}

.thumbnail
 {
	border: 1px solid #FF7E00;
}
.1{height: 160px}
}
.thumbnail.infostag{
	
	width: 900px;
	height: 250px;
}

.rom {
	width: 150px;
    height: 160px;
	
}

.navbtn .btnnav {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-color: #FF7E00;

}

#message{margin-right: 10px;
          margin-left: 140px;}
#mes{
	margin-left:40px;
     margin-right: 45px; 
      position: absolute;
      display:inline;
       }
.boxprog {
	min-height: 530px;
}

.thumbnail .progbox {
	background-image:url("http://subtlepatterns.com/patterns/lightpaperfibers.png");
}

.label{
	 display:block;
	 max-width: auto;
	 margin-bottom: 0px;

	   
}

#champs{
    text-align:right;
}

form#myform label {
    display:inline-block;
    width:100px;
}

form#myform input {
    display:inline-block;
} 

.navbar-brand {
    height: 57px;
    padding-top: 3px;
    padding-bottom: 0px;
}

.navbar{
	box-shadow: 2px 2px 2px #F1F8E0;
	background-image:url("http://subtlepatterns.com/patterns/lightpaperfibers.png");

}

.navbar-default .navbar-nav > li > a:hover {
    color: #F36132;
}

.navbar-default .navbar-nav > li > a {
    color: #24334C;
}

.padbut {
	padding-top: 5px;
}

.infostag .staginfo {
	height: 400px;
}

.infostag .staginfo1 {
	height: 308px;
}

.contact {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    background-color: white;
}

#mention {
	font-size: 10px;
}

#envoyer {
	border-color: #FF7E00
}

.social {
	border-radius: 100%;
	margin-top: 8px;
	height: 30px;
	width: 30px;
}

.table-div {
	display: table;
	height: 200px;
	width: 600px;
}

.cell {
	display: table-cell;
	vertical-align: middle;
}

table {
	margin-right: 20px;
	margin-left: 20px;
   border-width:2px; 
   width:50%;
 }
td { 
 border-width:3px;
 border-style:solid; 
 border:#FF7F53 solid 1px ;
 width:50%;
 }
 #proj{
 	padding-top: 50px;
 }
 #gal{
 	padding-top: 60px;
 }
 #cont{
 	padding-top: 60px;
 }

 .hoverbox
{
	cursor: default;
	list-style: none;
}

.hoverbox a
{
	cursor: default;
}

.hoverbox a .preview
{
	display: none;
}

.hoverbox a:hover .preview
{
	display: block;
	position: absolute;
	top: -33px;
	left: -45px;
	z-index: 1;
}

.hoverbox img
{
	background: #fff;
	border:solid 1px #FF7E00  ;
	color: inherit;
	padding: 2px;
	vertical-align: top;
	width: 100px;
	height: 75px;
}

.hoverbox li
{
	background: #eee;
	color: inherit;
	display: inline;
	float: left;
	margin: 3px;
	position: relative;
}

.hoverbox .preview
{
	border-color:#FF7E00 ;
	width: 200px;
	height: 150px;
}